<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- font  -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito&display=swap" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    
    <link rel="stylesheet" href="./style/jobs.css">
    
    <title>Job portal</title>
</head>
<body>
    
    <!-- navbar -->
    <nav class="navbar">
        <h2 class="navbar-logo">
            <a href="#">FORTUNE MAKER</a>
        </h2>
        <div class="navbar-menu">
            <div>
                Hello! <%= user.name %>  
            </div>
            <a href="/">Home</a>
            <a href="#jobs">Jobs</a>
            <a href="#companies">Companies</a>
         
            <!-- <a href="/blog">Blogs</a> -->
            <a href="/logout">Sign out</a>
        </div>
        <div class="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <!-- header -->
    <header>
            <h1 class="header-title">
                FIND YOUR <br> <span>PERFECT JOB</span> <br> EASILY
            </h1>
    </header>
    <!-- Search -->
    <div class="search-wrapper">
        <div class="search-box">
            <div class="search-card">
                <input type="text" id="input" class="search-input" placeholder="Job title or keywords" onkeyup="searchFun()">
                <button class="search-button" onclick="searchFun()"  >Search</button> 
            </div>
        </div>
    </div>
    

       <!-- job listing -->
       <section class="job-list" id="jobs">
        <% job_list.reverse(); %> 
        <% for(let job of job_list) { %>
        <div class="job-card">
            <div class="job-name">
                <img src="userImages/<%= job.image %>" class="job-profile" alt="<%= job.image %>">
                <div class="job-detail">
                    <h4><%= job.name %></h4>
                    <h3><%= job.role %></h3>
              <p><%= job.description %></p>
                </div>
            </div>
            <div class="job-label">
                <a href="#" class="label-a"><%= job.skill1 %></a>
                <a href="#" class="label-b"><%= job.skill2 %></a>
            </div>
            <!-- <div class="job-posted">
                Posted 2 min ago
            </div> -->
        </div>
        <% } %> 
        <!-- <button class="job-more"> More List</button> -->
    </section>


    <section class="join">
        <div class="join-details"> 
           <h1 class="section-title"> Have new Jobs?</h1>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur nemo beatae velit iste nisi laudantium rem deserunt, facilis a odio.</p>
        </div>
        <a href="/admin/addJobs" class="join-button" style="text-decoration: none; width:110px;">Add here</a>
    </section>
     


<!-- featured company -->
<section class="featured" id="companies">
    <h1 class="section-title">Featured Companies</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore odit earum inventore, debitis repellendus facere dolores quo a corporis numquam delectus laborum nobis eius laboriosam autem nesciunt est necessitatibus dicta.</p>
    <div class="featured-wrapper"> 
        <div class="featured-card">
            <img src="images/amazon logo.jpg" class="featured-image" alt="">
            <p>Amazon</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>
    

    
        <div class="featured-card">
            <img src="images/google logo.jpg" class="featured-image" alt="">
            <p>Google</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>



    
        <div class="featured-card">
            <img src="images/microsoft logo.webp" class="featured-image" alt="">
            <p>microsoft</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>



    
        <div class="featured-card">

            <img src="images/meta.webp" class="featured-image" alt="">

            <p>Meta</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>



        <div class="featured-card">
            <img src="images/apple logo.png" class="featured-image" alt="">
            <p>Apple</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>

        <div class="featured-card">
            <img src="images/flipkart-logo-39906.png" class="featured-image" alt="">
            <p>Flipkart</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>

        <div class="featured-card">
            <img src="images/wipro logo.webp" class="featured-image" alt="">
            <p>Wipro</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>

        <div class="featured-card">
            <img src="images/TCS logo.png" class="featured-image" alt="">
            <p>TCS</p>
            <button class="featured-button"> View 2 jobs</button>
        </div>
    </div>

</section>

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Fortune<span>Maker</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a>
        </p>

        <p class="footer-company-name">Copyright © 2022 <strong>Fortune Maker</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>GLA University, Mathura</p>
        </div>

        <div style="padding-right: 4rem;">
            <i class="fa fa-phone"></i>
            <p>+91 819*****43</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:vaibhavvarshney008@gmail.com">fortune.maker@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>Fortune Maker</strong> E-Learning Is A Great Way To Create And Deliver High-Quality Training Programs. It Has Become The Preferred Approach For Organizations That Want To Offer Their Employees Up-To-Date Skills And Knowledge. On The Basicity Of Skills And Employability We Deliver Efficient Method To Learn And A Platform Which Helps You To Get The Jobs That Match Your Standards.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
<!-- career advices -->
<!-- <section class="blog" id="blog">
    <h1 class="selection-title">Career Advices</h1>
    <p>Learn more career tips from company's recruiter</p>
    <div class="blog-wrapper">
        <div class="blog-card">
            <img src="" alt="">

        </div>

    </div>
</section> -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://kit.fontawesome.com/8c02bb7263.js" crossorigin="anonymous"></script>

   
    <script>

        // smooth scroll

var navbarHeight = $(".navbar").outerHeight();
$(".navbar-menu a").click(function(e){
    var targetHref = $(this).attr("href");
    $("html,body").animate({
        scrollTop:$(targetHref).offset().top - navbarHeight
    },1000)
    e.preventDefault();
});

// navbar
$(document).ready(function(){
    $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if(scroll >80){
            $(".navbar").css("background","#222")
            $(".navbar").css("box-shadow", "rgba(0,0,0,0.1) 0px 4px 12px")
        }
        else{
            $(".navbar").css("background","transparent");
            $(".navbar").css("box-shadow","none");

        }
    })
});



//navbar mobile view

const mobile = document.querySelector(".menu-toggle");

const mobileLink = document.querySelector(".navbar-menu");

mobile.addEventListener("click", function(){
    mobile.classList.toggle("is-active");
    mobileLink.classList.toggle("active");
});

mobileLink.addEventListener("click",function(){
    const menuBars = document.querySelector(".is-active");
    if(window.innerWidth <=768 && menuBars){
        mobile.classList.toggle("is-active");
        mobileLink.classList.remove("active");
    }
});


//  Search Bar functionality
const searchFun= () =>{
    let filter = document.getElementById('input').value.toUpperCase();
    let data = document.getElementsByClassName('job-card');
    let skillsSet = document.getElementsByClassName('job-label');

    
    
    for(var i = 0;i<skillsSet.length; i++ ){
        let skillLen  = skillsSet[i].getElementsByTagName('a').length;
       
        for(var j=0;j<skillLen;j++){
            let skillName  = skillsSet[i].getElementsByTagName('a')[j];
            if(skillName){
                let textValue = skillName.textContent || skillName.innerHTML;
                if(textValue.toUpperCase().indexOf(filter) > -1){
                    data[i].style.display= "";
                   break;
                }else{
                    data[i].style.display= "none";
                }
            }
        }
        

     
    }


}
    </script>

    

</body>
</html>